flake8==3.3.0
Flask==0.12.2
fuzzywuzzy==0.15.1
gunicorn==19.7.1
pip-tools==1.10.1
pytest==3.1.3
pytest-cov==2.5.1
python-Levenshtein==0.12.0
pytz
psycopg2==2.7.3.1
SQLAlchemy==1.1.14
Flask-SQLAlchemy==2.3.0
Flask-RESTful==0.3.6
Flask-Cors==3.0.3
Flask-Migrate==2.1.1
flask-shell-bpython==0.0.1  # Use bpython and flask shell
Flask-Testing==0.6.2
